.wrapper{
    display: flex;
    width: 100%;
  }
  
  #sidebar{
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar .sidebar-header{
    padding: 20px;
    background: #6d7fcc;
  }
  
  #sidebar ul.component{
    padding: 20px 0;
    border-bottom: 1px solid #47748b
  }
  
  #sidebar ul li a {
    color: #fff;
  }
  
  #sidebar ul li a:hover{
    color: #7386D5;
    background: #fff
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"]{
    color: #fff;
    background: #6d7fcc;
  }
  
  ul ul a {
    background: #6d7fcc;
  }
  
  #sidebar.active{
    margin-left: -250px;
  }
  
  #content {
      width: calc(100% - 250px);
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
  }
  
  #content.active {
      width: 100%;
  }
  
  @media (max-width: 768px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
    
    #content {
      width: 100%;
    }
    
    #content.active {
      width: calc(100% - 250px);
    }
  }