.wrapper{
    display: flex;
    width: 100%;
    min-height: 100vh;
  }
  
  #sidebar{
    width: 250px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    background: #A199DF;
    color: #fff;
    transition: all 0.3s;
  }
  
  #sidebar .sidebar-header{
    margin-top: 60px;
    padding: 5px;
    border-radius: 30px;
    background: #D2CDF6;
  }
  
  #sidebar ul.component{
    padding: 20px 0;
    border-bottom: 1px solid #47748b
  }
  
  #sidebar ul li a {
    color: #fff;
  }
  
  #sidebar ul li a:hover{
    color: #7386D5;
    background: #fff
  }

  #sidebar ul li a.active{
    font-weight: bold;
    color: #7386D5;
    background: #fff
  }
  
  #sidebar ul li.active > a, a[aria-expanded="true"]{
    color: #fff;
    background: #6d7fcc;
  }
  
  ul ul a {
    background: #6d7fcc;
  }
  
  #sidebar.active{
    margin-left: -250px;
  }
  
  #content {
      width: calc(100% - 250px);
      padding: 40px;
      min-height: 100vh;
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 5em;
  }
  
  #content.active {
      width: 100%;
  }
  
  @media (max-width: 768px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
    
    #content {
      padding-top: 3em;
      width: 100%;
      position: relative;
    }
    
    #content.active {
      width: 100%;
      z-index: -1 ;
    }
  }

.footer-special {
  bottom: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
}